<head th:fragment="headerfragment">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Untitled</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" type="text/css" >
  <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/Block-Responsive-Item-List.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/sidenav.css" type="text/css">
  <script th:inline="javascript">token = [[${user?.token}]];</script>
</head>
