<div th:fragment="navigationLeft" class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Category</h3>
    </div>

    <ul class="list-unstyled components" >
      <li th:each="category : ${user.categories}"><a href="#" th:text="${category.name}" th:attr="data-category-name=${category.name}" class="li-category"></a><span class="category-delete">X</span></li>
      <li><a href="#" id="li-uncategory">미분류</a></li>
      <li><button class="btn btn-primary round-button" id="btn-category-add">+</button></li>

      <li><button class="btn btn-success" id="btn-category-feed-add">카테고리 추가</button></li>
    </ul>
  </nav>
</div>